* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #84828f;
}

header {
  padding: 20px;
  background-color: #6a687a;
  color: white;
  text-align: center;
  height: 90px;
  
  
}

h1 {
  display: inline-block;
  font-size: 35px;
  margin-top: 5px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  

}





.btn1 {
  background-color: white;
  color: grey;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
  border-color: grey;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  border-width: 1px;
  margin-right: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn1:hover {
  background-color: #FF0000;
  color: white;
  border-color:#FF0000;
}

.btn2 {
  background-color: white;
  color: grey;
  border-style: solid;
  font-size: 14px;
  font-weight: bold;
  border-color: grey;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  border-width: 1px;
  margin-right: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn2:hover {
  background-color: #1DB954;
  color: white;
  border-color: #1DB954;
}

.youtube-button:active,
.spotify-button:active {
  opacity: .5;
}

.btn {
  background-color:#1DB954;
}
 .card-action {
  color: white;
 }

 
 